.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  margin: 50px 0 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

textarea{
 background-color: #fcf7e7;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: medium;
}

button{
  height: 28px;
  width: 70px;
  border-radius: 12px;
  border: 1px solid saddlebrown;
  background-color: #ffefba00;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
  background-color: #ffedba;
}

html{
  height: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background: #FFEFBA;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFEFBA, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}